<div class="padding-home">

    <!-- feature carousel presentation and formulaire button !-->
    <%= render 'carousel' %>
    <!-- end feature carousel !-->

    <!-- feature articles !-->
    <% if !user_signed_in? || current_user.role == 'user_minor' %>
    <%= render 'articles_minor_preview' %>
    <%else%>
    <%= render 'articles_adult_preview' %>
    <% end %>
    <!-- end feature articles !-->

    <!-- feature register !-->
    <% unless user_signed_in? %>
    <%= render 'register' %>
    <%end%>
    <!-- end feature register !-->

    <!-- feature subcribing !-->
    <% unless user_signed_in? %>
      <%= render 'subscriber_public'%>  
    <% end %>
    <% if user_signed_in? && current_user.role != 'user_minor' &&  current_user.subscription_id == nil %>
      <%= render 'subscriber' %>
    <%else%>
    <% end %>
    <!-- end feature subcribing !-->

    <!-- feature shop !-->
    <%= render 'shop' %>
    <!-- end feature shop !-->


</div>
