    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true" style="background-image:url(<%= asset_url 'team' %>)">
            </div>
            <div class="content-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h1 class="title">Notre équipe</h1>
                        <h4>Découvre notre merveilleuse équipe et notre super projet !</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <h2 class="title">Une équipe de choc à votre écoute</h2>
                            <h4 class="description">L'équipe de Teach Peach est passionnée, motivée et dévouée à sa cause.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <%= image_tag('alex')%>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Alexandre Gasior</h4>
                                            <h6 class="category">Architecte </h6>
                                            <p class="card-description">
                                                Pense le matin. Agis le midi. Mange le soir. Dors la nuit.
                                            </p>
                                            <div class="card-footer">
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-google"><i class="fa fa-google"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                          <%= image_tag('ben')%>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Benjamin Camino</h4>
                                            <h6 class="category">Paladin Rimeur</h6>
                                            <p class="card-description">
                                                L'amour soigne les gens. A la fois ceux qui le donnent et ceux qui le recoivent.
                                            </p>
                                            <div class="card-footer">
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-google"><i class="fa fa-google"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <%= image_tag('cynthia4')%>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Cynthia Jacquelet</h4>
                                            <h6 class="category">Dictatrice Sensible</h6>
                                            <p class="card-description">
                                                Vous voulez savoir ce qui est plus destructeur qu'une bombe nucléaire? Les mots.
                                            </p>
                                            <div class="card-footer">
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-youtube"><i class="fa fa-youtube-play"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-instagram"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                            <%= image_tag('fred')%>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Frédéric Boursier</h4>
                                            <h6 class="category">Logicien Viking</h6>
                                            <p class="card-description">
                                                On ne peut pas se marier avant d'être né.
                                            </p>
                                            <div class="card-footer">
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-youtube"><i class="fa fa-youtube-play"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-instagram"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                          <%= image_tag('val')%>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">Valentin Cluzan</h4>
                                            <h6 class="category">Freesbee Master</h6>
                                            <p class="card-description">
                                                Garde ton visage face au soleil, et l'ombre sera toujours derrière toi.
                                            </p>
                                            <div class="card-footer">
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-youtube"><i class="fa fa-youtube-play"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-instagram"><i class="fa fa-instagram"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7 ml-auto mr-auto">
                            <div class="card card-profile card-plain">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="card-image">
                                          <%= image_tag('willy')%>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h4 class="card-title">William Spartacus</h4>
                                            <h6 class="category">Maître Outilleur</h6>
                                            <p class="card-description">
                                                Il n'y a qu'une seule chose dans l'univers que l'on est certain de pouvoir améliorer : soi-même.
                                            </p>
                                            <div class="card-footer">
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                                <a href="#pablo" class="btn btn-icon btn-neutral btn-google"><i class="fa fa-google"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
