<%= render 'devise/shared/errors', resource: resource %>

<body class="contact-page">
  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image:url(<%= asset_url 'devise/peach1' %>)">
      </div>
    </div>
    <div class="main">
      <div class="contact-content">
        <div class="container">
          <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
              <h2 class="title">Editer mon compte</h2>
              <p class="description">
                Bienvenue sur ton espace personnel.<br>
                Libre à toi de modifier tes informations.
              </p>
              <%= render 'edit_form' %>
              <%= render 'delete_account_button' %>
            </div>
            <div class="col-md-5 ml-auto mr-auto">
              <div class="info info-horizontal mt-5">
                <div class="icon icon-primary">
                  <i class="now-ui-icons objects_key-25"></i>
                </div>
                <%= render 'subscription' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
