<%= render 'devise/shared/errors', resource: resource %>

<div class="container">

  <div class="row">
    <div class="col-6">
      <h4>Editer mon profil</h4>
      <%= render 'edit_form' %>
    </div>
    <div class="col-6">
      <h4>Tu souhaites t'abonner ?</h4>
      <% if @user.subscription_id == nil %>
        <%= link_to "Je m'abonne", new_subscription_path, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to "Se désabonner", subscription_path(@user.id), method: :delete, data: { confirm: "Etes-vous sûr ?" }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>

  <h5>Supprimer mon compte</h5>
  <p>Pas satisfait ?</p>
  <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr ?" }, method: :delete %>
  <br>
  <%= link_to "Revenir à la page précédente", :back %>
</div>
