<%= render 'devise/shared/errors', resource: resource %>

<body class="contact-page">
  <div class="wrapper">
    <div class="page-header page-header-small">
      <div class="page-header-image" data-parallax="true" style="background-image:url(<%= asset_url 'devise/peach1' %>)">
      </div>
    </div>
    <div class="main">
      <div class="contact-content">
        <div class="container">
          <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
              <h2 class="title">Editer mon compte</h2>
              <p class="description">
                Bienvenue sur ton espace personnel.<br>
                Libre à toi de modifier tes informations.
              </p>
              <%= render 'edit_form' %>
              <p class="text-dark mt-5">Pas satisfait ?
                <%= link_to "Supprimer mon compte", registration_path(resource_name), :class  => "link", data: { confirm: "Êtes-vous sûr de vouloir supprimer votre compte?" }, method: :delete %>
              </p>
            </div>
            <div class="col-md-5 ml-auto mr-auto">
              <div class="info info-horizontal mt-5">
                <div class="icon icon-primary">
                  <i class="now-ui-icons objects_key-25"></i>
                </div>
                <div class="description">
                  <h4 class="info-title">Tu souhaites t'abonner ?</h4>

                  <% if @user.role != 'user_minor' %>
                    <p>Des avantages exclusifs :
                      <br> Accès aux podcasts payants
                      <br> Accès aux ateliers
                      <br> Des promos sur la boutique
                      <% if @user.subscription_id == nil %>
                      <%= link_to "Je m'abonne", new_subscription_path, class: 'btn btn-primary' %>
                      <% else %>
                      <%= link_to "Se désabonner", subscription_path(@user.id), method: :delete, data: { confirm: "Etes-vous sûr ?" }, class: 'btn btn-danger' %>
                      <% end %>
                    </p>
                  <% else %>
                    <p>Malheureusement tu n'as pas accès aux abonnements.</p>
                    <p>Reviens quand tu auras 18 ans.</p>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
