<%= form_with scope: :article, url:  admin_article_path(@article), method: :put, local:true do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label  :for_adult %>
    <%= form.check_box :for_adult %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
