<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>For adult</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.for_adult %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>

<div class="col-md-12">
  <div class="row">
      <% @articles.each do |article| %>
        <div class="card col-lg-4 col-md-4">
            <div class="card-body">
                <h6 class="category text-danger">
                    <i class="now-ui-icons media-2_sound-wave"></i> Trending
                </h6>
                <h5 class="card-title">
                    <a href="#pablo"><%= article.title %></a>
                </h5>
                <p class="card-description">
                    <%= article.content %>
                </p>
                <div class="card-footer">
                    <div class="author">
                        <img src="assets/img/olivia.jpg" alt="..." class="avatar img-raised">
                        <span>Lord Alex</span>
                    </div>
                    <div class="stats stats-right">
                        <i class="now-ui-icons ui-2_favourite-28"></i> 342 ·
                        <i class="now-ui-icons files_single-copy-04"></i> 45
                    </div>
                </div>
            </div>
        </div>
     <% end %>
  </div>
</div>
