<div class="row justify-content-center">
<div class="col-md-6 col-xs-12 col-s-12 col-lg-6">

<p>
  <div class="row article-line "></div>
  <div class="article-title"><h1><strong><%= @article.title %></strong></h1></div>
  <div class="row article-line "></div>
</p>

  <div class="container article-informations">

      <ul class="pull-center article-informations-list-list">
          <li class="article-informations-list-list">
                                      <%= @article.created_at%>
          </li>
          <li class="article-informations-list-list">
                                        Presentation
          </li>
          <li class="article-informations-list-list">
                                        Discover
          </li>
          <li class="article-informations-list-list">
                                        Payment
          </li>
          <li class="article-informations-list-list">
                                        Contact Us
          </li>
          <li class="article-informations-list-list pull-right">
            <%= render 'layouts/social' %>
          </li>

      </ul>

  </div>


<p >
  <p >
    <% if @article.images.attached? %>
      <% @article.images.each do |image| %>
        <p class="row justify-content-center"><%= image_tag image, alt: 'image' %> </p>
      <% end %>
    <% end %>
  </p>
  <%= raw @article.content %>
</p>
<%= link_to 'Retour aux articles', articles_path %>
</div>

</div>
