<%= form_with(model: [:admins, :shop, product], local: true) do |form| %>

  <div class="field">
    <%= form.label :images, 'Images',class: 'control-label' %>
    <%= form.file_field :images, multiple: true, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :name, "Nom" %>
    <%= form.text_field :name, autofocus: true, placeholder: "Nom du produit", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :description, class: 'control-label' %>
    <%= form.text_area :description, placeholder: "Description", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :brand, "Marque", class: 'control-label' %>
    <%= form.text_field :brand, placeholder: "Marque", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :product_category, "Catégorie", class: 'control-label' %>
    <%= render 'category_dropdown' %>
  </div>
  <div class="field">
    <%= form.label :price, "Prix", class: 'control-label' %>
    <%= form.text_field :price, placeholder: "666 €", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :quantity, "Quantité", class: 'control-label' %>
    <%= form.text_field :quantity, placeholder: "Quantité", class: 'form-control' %>
  </div>
  <div class="field">
    <%= form.label :reference, "Référence", class: 'control-label' %>
    <%= form.text_field :reference, placeholder: "Référence", class: 'form-control' %>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-round col-sm-3 btn-sm' %>
  </div>
<% end %>
