<%= render 'errors', resource: resource %>

<body class="login-page">

  <div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(<%= asset_url 'devise/peach3' %>)"></div>
    <div class="content">
      <div class="container">
        <div class="col-md-5 ml-auto mr-auto">
          <div class="card card-login card-plain">
            <div>
              <div class="card-header text-center">
                <h4 class="card-title text-center">Renvoyer les instructions de déverouillage</h4>
              </div>
              <div class="card-body">
                <%= form_for(resource, as: resource_name, url: unlock_path(resource_name)) do |f| %>

                <div class="input-group form-group-no-border input-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                  </div>
                  <%= f.email_field :email,  autocomplete: "email" %>

                </div>

              </div>

              <div class="card-footer text-center">
                <%= f.submit "Renvoyer les instructions de déverouillage", class: "btn btn-primary btn-round btn-lg btn-block" %>
              </div>
              <% end %>
              <h6>

                <div class="links-devise row">
                  <%= render "devise/shared/links" %>
                </div>

              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>