<div class="container">
  <h1 class="mt-5 pt-5 text-center" >Catégories</h1>
  <div class="text-center">
   <span class="mr-2"><%= link_to 'Gérer les utilisateurs', admins_users_path %></span>|
   <span class="ml-2 mr-2"><%= link_to 'Gérer les articles', admins_articles_path %></span>|
   <span class="ml-2"><%= link_to 'Gérer les typeforms', admins_typeforms_path %></span>
   <div class="mt-2"><%= link_to 'Nouvelle catégorie', new_admins_category_path, class: 'btn btn-primary btn-round' %></div>
  </div>
</div>

<div class="col-md-8 ml-auto mr-auto">
  <div class="card card-plain">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="">
            <th class="text-center">
              Titre
            </th>
            <th class="text-right">
              Actions
            </th>
          </thead>
          <tbody>
            <% @categories.reverse.each do |category| %>
              <tr>
                <td class="text-center">
                  <%= category.title %>
                </td>
                <td class="text-right">
                  <%= link_to edit_admins_category_path(category) do %>
                    <i class="now-ui-icons ui-2_settings-90 mr-2"></i>
                  <% end %>
                  <%= link_to admins_category_path(category.id), method: :delete, data: { confirm: 'Êtes-vous sûr?' } do %>
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
</div>  
