<%= render 'errors', user: @user %>

<div class="container">
  <h2 class="mt-5 pt-5 text-center">Éditer le profil</h2>

  <%= form_for(@user, url: admins_user_path(@user), html: {method: "put"}) do |f| %>

  <div class="field mt-2">
    <%= f.label :email, "Email", class: 'control-label' %><br />
    <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'form-control' %>
  </div>

  <div class="field mt-2">
    <%= f.label :first_name, "Prénom", class: 'control-label' %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "Prénom", class: 'form-control' %>
  </div>

  <div class="field mt-2">
    <%= f.label :last_name, "Nom", class: 'control-label' %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "Nom", class: 'form-control' %>
  </div>

  <div class="field mt-2">
    <%= f.label :username, "Nom d'utilisateur", class: 'control-label' %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Pseudo", class: 'form-control' %>
  </div>

  <div class="field mt-2">
  <%= f.label :birthdate, "Date de naissance", class: 'control-label' %><br />
  <%= f.date_field :birthdate, autofocus: true, autocomplete: "birthdate", class: 'form-control' %>
  </div>


  <div class="field mt-2">
    <%= f.label :role, "Rôle", class: 'control-label' %><br />
    <%= f.select :role, [['admin', "admin"], ['subscriber', "subscriber"], ['user', "user"], ['user_minor', "user_minor"]] %>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-primary btn-round btn-sm mt-3 col-sm-3") do %>
    Mettre à jour les données
  <% end %>

  <% end %>

  <%= link_to "Revenir à la page précédente", :back %>
</div>
