<div class="container">

	<div class="mt-5 pt-5 text-center">
	 <strong>Nom d'utilisateur</strong><br/>
	 <%= @user.username %>
	</div>

	<div class="mt-2 text-center">
	 <strong>Prénom</strong><br/>
	 <%= @user.first_name %>
	</div>

	<div class="mt-2 text-center">
	 <strong>Nom</strong><br/>
	 <%= @user.last_name %>
	</div>

	<div class="mt-2 text-center">
	 <strong>Email</strong><br/>
	 <%= @user.email %>
	</div>
	
	<div class="text-center mt-4">
		<%= link_to 'Éditer', edit_admins_user_path(@user) %> |
		<%= link_to 'Retour aux utilisateurs', admins_users_path %>
	</div>
</div>
