<%= form_with(model: [:admins, typeform], local: true) do |form| %>

  <div class="field">
    <%= form.label :title, "Titre" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :id_typeform, "Id Typeform" %>
    <%= form.text_field :id_typeform %>
  </div>

  <div class="field">
    <%= form.label :id_results, "Id Résultats" %>
    <%= form.text_field :id_results %>
  </div>
  
  <%= button_tag(type: 'submit', class: "btn btn-primary btn-round btn-sm mt-3 ") do %>
    Créer le formulaire
  <% end %>
<% end %>
