<div class="container">
  <h1 class="mt-5 pt-5 text-center" >Typeforms</h1>
  <div class="text-center">
   <span class="mr-2"><%= link_to 'Gérer les utilisateurs', admins_users_path %></span>|
   <span class="ml-2 mr-2"><%= link_to 'Gérer les catégories', admins_categories_path %></span>|
   <span class="ml-2"><%= link_to 'Gérer les articles', admins_articles_path %></span>
   <div class="mt-2"><%= link_to 'Nouveau typeform', new_admins_typeform_path %></div>
  </div>
</div>

<div class="col-md-8 ml-auto mr-auto">
  <div class="card card-plain">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="">
            <th class="text-center">
              Titre
            </th>
            <th class="text-center">
              Description
            </th>
            <th class="text-center">
              Id Typeform
            </th>
            <th class="text-center">
              Id Résultat
            </th>
            <th class="text-right">
              Actions
            </th>
          </thead>
          <tbody>
            <% @typeforms.reverse.each do |typeform| %>
              <tr>
                <td class="text-center">
                  <%= typeform.title %>
                </td>
                <td>
                  <%= typeform.description %>
                </td>
                <td class="text-center">
                  <%= typeform.id_typeform %>
                </td>
                <td class="text-center">
                  <%= typeform.id_results %>
                </td>
                <td class="text-right">
                  <%= link_to admins_typeform_path(typeform.id) do %>
                    <i class="now-ui-icons ui-1_zoom-bold mr-2"></i>
                  <% end %>
                  <%= link_to edit_admins_typeform_path(typeform) do %>
                    <i class="now-ui-icons ui-2_settings-90 mr-2"></i>
                  <% end %>
                  <%= link_to admins_typeform_path(typeform.id), method: :delete, data: { confirm: 'Êtes-vous sûr?' } do %>
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div> 
</div>  

