

<div class="pricing-5 section-pricing-5 section-image fullheight" id="pricing-5" style="background-image: url(<%= asset_path 'bg-subscribe-page.jpeg' %>)">

  <div class="container padding-nav">
    <%= form_tag subscriptions_path do %>
    <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
    <% end %>
    <div class="row">
      <div class="col-md-4">
        <h2 class="title">Choisis ton abonnement</h2>

        <p class="description">Grâce aux abonnements, profites de Teach Peach en toute liberté.
        <br>Et parcours l'ensemble de notre contenu réservé aux abonnés</p>
      </div>

      <div class="col-md-7 ml-auto mr-auto">
        <div class="tab-content tab-space">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-pricing card-raised">
                <div class="card-body">
                  <h5 class="category">Early Bird</h5>
                  <h1 class="card-title"><small>€</small>150</h1>
                  <ul>
                    <li>Un paiement <b>unique</b></li>
                    <li>Accès garanti <b>à vie</b> à tout le contenu</li>
                    <li>Accès aux <b>podcasts</b></li>
                    <li>Accès aux <b>ateliers</b></li>
                  </ul>
                  <span class="btn btn-muted btn-round">
                    Á venir ...
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-pricing card-plain">
                <div class="card-body">
                  <h5 class="category">Découverte</h5>
                  <h1 class="card-title"><small>€</small>10 / mois</h1>
                  <ul>
                    <li>Paiement <b>mensuel</b> que tu peux arrêter quand tu le souhaites</li>
                    <li>Accès <b>illimité</b> au contenu privé</li>
                    <li>Accès aux <b>podcasts</b></li>
                    <li>Accès aux <b>ateliers</b></li>
                  </ul>
                  <% if current_user.role != 'admin' %>
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="Offre Découverte"
                    data-locale="auto"></script>
                    <!-- get checkout button from stripe script -->
                    <script type="text/javascript">
                      $(function(){
                        $('.stripe-button-el span').text("Offre Découverte");
                      });
                    </script>
                    <% else %>
                      <div class="btn btn-muted btn-round">Tu es admin !</div>

                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
<%= render 'layouts/footer' %>
