<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image:url(http://pre10.deviantart.net/d6f9/th/pre/f/2013/052/d/0/adult_toy_set_by_f4u_draconix-d5vsl80.jpg)">
    </div>
    <div class="content-center">
      <h1 class="title">Plus de 1200 CATEGORIES à portée de panier.</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-md-12">
    <p class="category">Produits</p>
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-pills-primary flex-column" role="tablist">
          <% @product_categories.each do |category| %>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#link-<%= category.id %>" role="tablist">
                <%= category.title %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-10">
        <div class="tab-content">
          <% @product_categories.each do |category| %>
          <div class="tab-pane active show" id="link-<%= category.id %>">
            <!-- Carte Produit -->
            <div class="col-md-12">
              <div class="row">
                <% category.products.each do |product|%>
                <div class="col-lg-4 col-md-6">
                  <div class="card card-product">
                    <div class="card-image">
                      <%= link_to image_tag("https://cdn.shopify.com/s/files/1/0062/5141/3622/products/HTB1IHYNXZ_vK1Rjy0Foq6xIxVXa8_1024x1024.jpg?v=1543918333"), shop_product_path(product) %>
                    </div>
                    <div class="card-body">
                      <h6 class="category">
                        <%= product.brand %>
                      </h6>
                      <h5 class="card-title">
                        <div class="card-link ">
                          <%= product.name %>
                        </div>
                      </h5>
                      <div class="card-footer ">
                        <div class="price-container">
                          <span class="price ">
                            <%= product.price %>€</span>
                        </div>
                        <div class="row">
                          <span>
                            <%= button_to 'Voir le produit', shop_product_path(product), class: 'btn btn-neutral', method: :get %></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end%>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
