<h1>Catégories de produit</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_categories.each do |product_category| %>
      <tr>
        <td><%= product_category.title %></td>
        <td><%= link_to 'Voir', shop_product_category_path(product_category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-md-12">
  <p class="category">Vertical tabs</p>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-pills-primary flex-column" role="tablist">
        <li class="nav-item">
          <a class="nav-link active show" data-toggle="tab" href="#link4" role="tablist">
            Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
            Settings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#link6" role="tablist">
            Options
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="tab-content">
        <div class="tab-pane active show" id="link4">
          <!-- Carte Produit -->
          <div class="col-md-9">
            <div class="row">
              <% @products.each do |product|%>
              <div class="col-lg-4 col-md-6">
                <div class="card card-product">
                  <div class="card-image">
                    <%= link_to image_tag("https://cdn.shopify.com/s/files/1/0062/5141/3622/products/HTB1IHYNXZ_vK1Rjy0Foq6xIxVXa8_1024x1024.jpg?v=1543918333"), shop_product_path(product) %>
                  </div>
                  <div class="card-body">
                    <h6 class="category">
                      <%= product.brand %>
                    </h6>
                    <h5 class="card-title">
                      <div class="card-link ">
                        <%= product.name %>
                      </div>
                    </h5>
                    <div class="card-footer ">
                      <div class="price-container">
                        <span class="price ">
                          <%= product.price %>€</span>
                      </div>
                      <div class="row">
                        <span>
                          <%= button_to 'Voir le produit', shop_product_path(product), class: 'btn btn-neutral', method: :get %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end%>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="link5">
          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
          <br>
          <br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
        </div>
        <div class="tab-pane" id="link6">
          Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
          <br>
          <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
        </div>
      </div>
    </div>
  </div>
</div>
