<h1>Factures</h1>

<table>
  <thead>
    <tr>
      <th>Prix</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturations.each do |facturation| %>
      <tr>
        <td><%= facturation.price %></td>
        <td><%= link_to 'Voir', shop_facturation_path(facturation) %></td>
        <td><%= link_to 'Editer', edit_shop_facturation_path(facturation) %></td>
        <td><%= link_to 'Supprimer', shop_facturation_path(facturation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facturation', new_shop_facturation_path %>
