<h1>Catégories</h1>

<%= link_to 'Gérer les utilisateurs', admin_users_path %>|<%= link_to 'Gérer les articles', admin_articles_path %>|<%= link_to 'Gérer les typeforms', admin_typeforms_path %>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.reverse.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= link_to 'Éditer', edit_admin_category_path(category) %></td>
        <td><%= link_to 'Supprimer',admin_category_path(category.id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle catégorie',  new_admin_category_path  %>
