<% @product_categories.each do |category| %>
  <div class="tab-pane" id="link-<%= category.id %>">
    <!-- Product Card -->
    <div class="col-md-12">
      <div class="row">
        <% category.products.each do |product|%>
          <div class="col-lg-4 col-md-6">
            <div class="card card-product">
              <div class="card-image">
                <% if product.images != nil %>
                  <%= image_tag url_for(product.images[0]), alt: 'image', class: 'd-block img-raised align-self-center' %>
                <% end %>
              </div>
              <div class="card-body">
                <h6 class="category">
                  <%= product.brand %>
                </h6>
                <h5 class="card-title">
                  <div class="card-link ">
                    <%= product.name %>
                  </div>
                </h5>
                <div class="card-footer ">
                  <div class="price-container">
                    <span class="price ">
                      <%= product.price %>€</span>
                  </div>
                  <div class="row">
                    <span>
                      <%= button_to 'Voir le produit', shop_product_path(product), class: 'btn btn-neutral', method: :get %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>
  </div>
<% end %>
