<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image features-2 section-image" data-parallax="true" style="background-image:url(<%= asset_url 'loveshop' %>)">
    </div>
    <div class="content-center">
      <h1 class="title"><%= @indextext.sample %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <p class="category">Produits</p>
    <div class="row">
      <div class="col-md-3">
        <%= render 'list_category_buttons' %>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <%= render 'all_products' %>
          <%= render 'products_by_category' %>
        </div>
      </div>
    </div>
  </div>
</div>
