<body class="product-page">
  <div class="wrapper">
    <div class="page-header page-header-mini">
      <div class="page-header-image" data-parallax="true" style="background-image: url(https://images.pexels.com/photos/193356/pexels-photo-193356.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); transform: translate3d(0px, 76.3333px, 0px);">
      </div>
    </div>
    <div class="section">
      <div class="container">
        <%= link_to shop_products_path do %>
          <i class="now-ui-icons arrows-1_minimal-left"></i>
          Retour vers l'index
        <% end %>
        <div class="row">
          <div class="col-md-5">
            <%= render 'carousel' %>
          </div>
          <div class="col-md-6 ml-auto mr-auto">
            <h2 class="title">
              <%= @product.name %>
            </h2>
            <h5 class="category">
              <%= @product.brand %>
            </h5>
            <% @product.product_categories.each do |category| %>
              <span class="tag badge badge-primary">
                <%= category.title %>
              </span>
            <% end %>
            <h2 class="main-price">
              <%= number_to_currency(@product.price, unit: "") %> €
            </h2>
            <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
              <div class="card card-plain">
                <div class="card-header" role="tab" id="headingOne">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Description
                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                  </a>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-body">
                    <p>
                      <%= @product.description %>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <%= render 'add_to_cart_button' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'related_products' %>
  </div>
</body>
