<%= form_with scope: :typeform, url:  admin_typeform_path(@typeform), method: :put, local:true do |form| %>
  <% if typeform.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(typeform.errors.count, "error") %> prohibited this typeform from being saved:</h2>

      <ul>
      <% typeform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :id_typeform %>
    <%= form.text_field :id_typeform %>
  </div>

  <div class="field">
    <%= form.label :id_results %>
    <%= form.text_field :id_results %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
