<h1>Typeforms</h1>
<%= link_to 'Gérer les utilisateurs', admin_users_path %>|<%= link_to 'Gérer les catégories', admin_categories_path %>|<%= link_to 'Gérer les typeforms', admin_typeforms_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Id typeform</th>
      <th>Id results</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @typeforms.each do |typeform| %>
      <tr>
        <td><%= typeform.title %></td>
        <td><%= typeform.description %></td>
        <td><%= typeform.id_typeform %></td>
        <td><%= typeform.id_results %></td>
        <td><%= link_to 'Show', admin_typeform_path(typeform.id) %></td>
        <td><%= link_to 'Edit', edit_admin_typeform_path(typeform) %></td>
        <td><%= link_to 'Destroy', admin_typeform_path(typeform.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Typeform', new_admin_typeform_path %>
