<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @typeform.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @typeform.description %>
</p>

<p>
  <strong>Id typeform:</strong>
  <%= @typeform.id_typeform %>
</p>

<p>
  <strong>Id results:</strong>
  <%= @typeform.id_results %>
</p>

<%= link_to 'Edit', edit_admin_typeform_path(@typeform) %>
<%= link_to 'Back', admin_typeforms_path %>

<!-- show typeform result admin !-->

<div class="typeform-widget" data-url="https://yacinth.typeform.com/report/<%= @dynamique_typeform_id%>/<%= @dynamique_results_id %>" style="width: 100%; height: 500px;"></div> 
<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> 

