<p>
 <strong>email:</strong>
 <%= @user.email %>
</p>

<p>
 <strong>first name:</strong>
 <%= @user.first_name %>
</p>

<p>
 <strong>last name:</strong>
 <%= @user.last_name %>
</p>

<p>
 <strong>username:</strong>
 <%= @user.username %>
</p>


<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
