<h1>Catégories de produit</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_categories.each do |product_category| %>
      <tr>
        <td><%= product_category.title %></td>
        <td><%= link_to 'Voir', admins_shop_product_category_path(product_category) %></td>
        <td><%= link_to 'Editer', edit_admins_shop_product_category_path(product_category) %></td>
        <td><%= link_to 'Supprimer', admins_shop_product_category_path(product_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle catégorie de produit', new_admins_shop_product_category_path %>
