<%= form_with(model: [:admins, article], local: true) do |form| %>
  

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :contenu %>
    <trix-editor input="post_content"></trix-editor>
    <%= form.text_area :content, id: :post_content, size: "150x10" %>
  </div>

  <div class="field">
    <%= form.label :pour_adulte %>
    <%= form.check_box :for_adult %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
