<p>
 <strong>Titre:</strong>
 <%= @article.title %>
</p>

<p>
 <strong>Contenu:</strong>
 <%= raw @article.content %>
</p>

<%= render 'layouts/social' %>

<p>
 <strong>Pour adulte:</strong>
 <%= @article.for_adult %>
</p>

<%= link_to 'Éditer', edit_admins_article_path(@article) %> |
<%= link_to 'Retour aux articles', admins_articles_path %>
