<p>
  <% if @article.images.attached? %>
    <% @article.images.each do |image| %>
      <%= image_tag image, alt: 'image' %> <br />
    <% end %>
  <% end %>
</p>

<p>
 <strong>Titre:</strong>
 <%= @article.title %>
 <%= render 'layouts/social' %>
</p>

<p>
 <strong>Contenu:</strong>

 <%= raw @article.content %>
 <%= render 'layouts/social' %>
</p>


<p>
 <strong>Pour adulte:</strong>
 <%= @article.for_adult %>
</p>

<%= link_to 'Éditer', edit_admins_article_path(@article) %> |
<%= link_to 'Retour aux articles', admins_articles_path %>
