<nav class="navbar navbar-expand-lg bg-white fixed-top" >
    <div class="container">
        <div class="navbar-translate">
<%= link_to 'Teach Peach', root_path, class:"navbar-brand text-primary", data: {'data-placement' => 'bottom'} %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="" data-color="orange">
            <ul class="navbar-nav ml-auto">
                      <%= render 'layouts/subscriptions' %>
                      <%= render 'layouts/shop' %>
                      <%= render 'layouts/basket_icon' %>
                <li class="nav-item dropdown">
                      <%= render 'layouts/account_button' %>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <%= render 'devise/menu/login_items' %>
                      <%= render 'devise/menu/registration_items' %>
                      <%= render 'layouts/facturations' %>
                      <%= render 'layouts/admin_area' %>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
